asgiref
certifi
charset-normalizer
Django
django-cors-headers
djangorestframework
gunicorn
idna
protobuf
python-dateutil
pytz
requests
six
sqlparse
urllib3
pysolr
django-haystack
django-storages
boto3